.card {
    margin-top: 1.25rem;

}

.card-body {
    padding-bottom: 0;
}

.card-title {
    color: var(--primary);
}

.list-group-final-item {
    color: brown;
    display: flex;
    justify-content: space-between;
}

.row-name {
    display: flex;
    justify-content: space-between;
}

.head-btn {
    height: 2rem;
    line-height: 1rem;
    padding: 0 0.6rem;
}

.http-sent-data {
    display: none;
}

